.category{
    display: block;
    width: 100%;
}

.category-grid{
    display: flex;
    text-align: center;
    overflow: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: var(--padding-block);
}

.category-grid-item{
    width: 25%;
    padding: var(--padding-block);
}

.category-grid-item-block{
    background-color: var(--background-color-white-clear);
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.category-grid-item-block-a{
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.category-grid-item-block-a-img{
    display: block;
    width: 100%;
    padding: var(--padding-item);
}

.category-grid-item-block-a-span{
    background-color: var(--background-color-black-clear);
    color: var(--color-white-clear);
    font-size: var(--font-legend);
    display: block;
    width: 100%;
    padding: var(--padding-item);
    margin-top: var(--margin-item);
}

@media screen and (min-width: 1921px){
    .category-grid-item{
        width: 25%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1920px){
    .category-grid-item{
        width: 25%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .category-grid-item{
        width: 50%;
    }
}

@media screen and (min-width: 0) and (max-width: 480px){
    .category-grid-item{
        width: 50%;
    }
}