.footer{
    background-color: var(--background-color-black-dark);
    display: block;
    width: 100%;
}

.footer-copy{
    display: block;
    width: 100%;
    padding: var(--padding-block);
}

.footer-copy-span{
    color: var(--color-white-dark);
    display: block;
    font-size: var(--font-p);
    text-align: center;
    width: 100%;
    padding: var(--padding-item);
}