.header{
    background-color: var(--background-color-black-dark);
    display: block;
    width: 100%;
}

.header-logo{
    display: inline-block;
    padding: var(--padding-block);
}

.header-logo-link{
    display: flex;
    color: var(--color-red-dark);
}

.header-logo-link:hover{
    color: var(--color-red-clear);
}

.header-logo-link-img{
    margin-right: var(--margin-block);
}

.header-logo-link-span{
    font-family: "PoetsenOne";
    font-size: var(--font-logo);
    font-weight: bold;
}

@media screen and (min-width: 1921px){
    .header-logo-link-img{
        height: 80px;
        width: 80px;
    }

    .header-logo-link-span{
        line-height: 80px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1920px){
    .header-logo-link-img{
        height: 70px;
        width: 70px;
    }

    .header-logo-link-span{
        line-height: 70px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .header-logo-link-img{
        height: 60px;
        width: 60px;
    }

    .header-logo-link-span{
        line-height: 60px;
    }
}

@media screen and (min-width: 0) and (max-width: 480px){
    .header-logo-link-img{
        height: 50px;
        width: 50px;
    }

    .header-logo-link-span{
        line-height: 50px;
    }
}