{% extends "post/post.html" %}

{% block section %}
    <section class="post">
        <header class="post-header">
            <h1 class="post-header-h1">Cuidado Canino - Introdução</h1>
        </header>
        <article class="post-article">
            <ul class="post-article-ul">
                <li class="post-article-ul-li">
                    <a class="post-article-ul-li-a" href="/category/care/intro/01-a-amizade-entre-humanos-e-caes">
                        A amizade entre humanos e cães
                    </a>
                </li>
            </ul>
        </article>
        <footer class="post-footer">
            <span class="post-footer-span"></span>
        </footer>
    </section>
{% endblock %}