<div class="galery">
  <div class="galery-item">
    <input class="galery-item-input" type="checkbox" id="galery-input-1"/>
    <label class="galery-item-label" for="galery-input-1">
      <div class="galery-item-label-block">
        <img class="galery-item-label-block-img" src="" alt="" title=""/>
      </div>
    </label>
  </div>
  <div class="galery-item">
    <input class="galery-item-input" type="checkbox" id="galery-input-2"/>
    <label class="galery-item-label" for="galery-input-2">
      <div class="galery-item-label-block">
        <img class="galery-item-label-block-img" src="" alt="" title=""/>
      </div>
    </label>
  </div>
  <div class="galery-grid">
    <div class="galery-grid-item">
      <label class="galery-grid-item-label" for="galery-input-1">
        <div class="galery-grid-item-label-block">
          <img class="galery-grid-item-label-block-img" src="" alt="" title=""/>
        </div>
      </label>
    </div>
    <div class="galery-grid-item">
      <label class="galery-grid-item-label" for="galery-input-2">
        <div class="galery-grid-item-label-block">
          <img class="galery-grid-item-label-block-img" src="" alt="" title=""/>
        </div>
      </label>
    </div>
  </div>
</div>