<menu class="menu" id="menu">
    <span class="menu-toggle fi-list" id="menu-toggle"></span>
    <div class="menu-name" title="MENU">MENU</div>
    <nav class="menu-nav">
        <ul class="menu-nav-page">
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-home"></span>
                <a class="menu-nav-page-item-link" href="/" title="HOME">HOME</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-book"></span>
                <a class="menu-nav-page-item-link" href="/about" title="SOBRE">SOBRE</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-torso"></span>
                <a class="menu-nav-page-item-link" href="/contact" title="CONTATO">CONTATO</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-social-facebook"></span>
                <a class="menu-nav-page-item-link"" href="#" title="FACEBOOK">FACEBOOK</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-social-instagram"></span>
                <a class="menu-nav-page-item-link" href="#" title="INSTAGRAM">INSTAGRAM</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-social-twitter"></span>
                <a class="menu-nav-page-item-link" href="#" title="TWITTER">TWITTER</a>
            </li>
        </ul>
    </nav>
</menu>