<aside class="aside" id="aside">
    <span class="aside-toggle fi-bookmark" id="aside-toggle"></span>
    <div class="aside-name" title="POSTS">CATEGORIA</div>
    <nav class="aside-nav">
        <ul class="aside-nav-page">
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="/category/care" title="DOG CARE">CUIDADO</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="/category/food" title="DOG FOOD">ALIMENTAÇÃO</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="/category/health" title="DOG HEALTH">SAÚDE</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="/category/training" title="DOG TRAINING">TREINAMENTO</a>
            </li>
        </ul>
    </nav>
</aside>