<div class="category">
    <div class="category-grid">
        <div class="category-grid-item">
            <div class="category-grid-item-block">
                <a class="category-grid-item-block-a" href="{{lang_grid.grid_href01}}" title="{{lang_grid.grid_title01}}">
                    <img class="category-grid-item-block-a-img" src="{{lang_grid.grid_src01}}" alt="{{lang_grid.grid_title01}}" title="{{lang_grid.grid_title01}}"/>
                    <span class="category-grid-item-block-a-span">{{lang_grid.grid_title01}}</span>
                </a>
            </div>
        </div>
        <div class="category-grid-item">
            <div class="category-grid-item-block">
                <a class="category-grid-item-block-a" href="{{lang_grid.grid_href02}}" title="{{lang_grid.grid_title02}}">
                    <img class="category-grid-item-block-a-img" src="{{lang_grid.grid_src02}}" alt="{{lang_grid.grid_title02}}" title="{{lang_grid.grid_title02}}"/>
                    <span class="category-grid-item-block-a-span">{{lang_grid.grid_title02}}</span>
                </a>
            </div>
        </div>
        <div class="category-grid-item">
            <div class="category-grid-item-block">
                <a class="category-grid-item-block-a" href="{{lang_grid.grid_href03}}" title="{{lang_grid.grid_title03}}">
                    <img class="category-grid-item-block-a-img" src="{{lang_grid.grid_src03}}" alt="{{lang_grid.grid_title03}}" title="{{lang_grid.grid_title03}}"/>
                    <span class="category-grid-item-block-a-span">{{lang_grid.grid_title03}}</span>
                </a>
            </div>
        </div>
        <div class="category-grid-item">
            <div class="category-grid-item-block">
                <a class="category-grid-item-block-a" href="{{lang_grid.grid_href04}}" title="{{lang_grid.grid_title04}}">
                    <img class="category-grid-item-block-a-img" src="{{lang_grid.grid_src04}}" alt="{{lang_grid.grid_title04}}" title="{{lang_grid.grid_title04}}"/>
                    <span class="category-grid-item-block-a-span">{{lang_grid.grid_title04}}</span>
                </a>
            </div>
        </div>
    </div>
</div>