<menu class="menu" id="menu">
    <span class="menu-toggle fi-list" id="menu-toggle"></span>
    <div class="menu-name" title="{{lang_default.menu_div}}">{{lang_default.menu_div}}</div>
    <nav class="menu-nav">
        <ul class="menu-nav-page">
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-home"></span>
                <a class="menu-nav-page-item-link" href="{{lang_default.menu_href01}}" title="{{lang_default.menu_title01}}">{{lang_default.menu_title01}}</a>
            </li>
            <li class="menu-nav-page-item">
                <a class="menu-nav-page-item-social fi-social-instagram" href="https://www.instagram.com/bscdogs" title="INSTAGRAM"></a>
                <a class="menu-nav-page-item-social fi-social-pinterest" href="https://pinterest.com/bscdog" title="PINTEREST"></a>
                <a class="menu-nav-page-item-social fi-social-twitter" href="https://twitter.com/bscdogs" title="TWITTER"></a>
                <a class="menu-nav-page-item-social fi-social-youtube" href="https://www.youtube.com/@bscdogs" title="YOUTUBE"></a>
            </li>
        </ul>
    </nav>
</menu>