<menu class="menu" id="menu">
    <span class="menu-toggle fi-list" id="menu-toggle"></span>
    <div class="menu-name" title="{{lang_default.menu_div}}">{{lang_default.menu_div}}</div>
    <nav class="menu-nav">
        <ul class="menu-nav-page">
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-home"></span>
                <a class="menu-nav-page-item-link" href="{{lang_default.menu_href01}}" title="{{lang_default.menu_title01}}">{{lang_default.menu_title01}}</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-book"></span>
                <a class="menu-nav-page-item-link" href="{{lang_default.menu_href02}}" title="{{lang_default.menu_title02}}">{{lang_default.menu_title02}}</a>
            </li>
            <li class="menu-nav-page-item">
                <span class="menu-nav-page-item-span fi-torso"></span>
                <a class="menu-nav-page-item-link" href="{{lang_default.menu_href03}}" title="{{lang_default.menu_title03}}">{{lang_default.menu_title03}}</a>
            </li>
        </ul>
    </nav>
</menu>