<aside class="aside" id="aside">
    <span class="aside-toggle fi-bookmark" id="aside-toggle"></span>
    <div class="aside-name" title="{{lang_default.aside_div}}">{{lang_default.aside_div}}</div>
    <nav class="aside-nav">
        <ul class="aside-nav-page">
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="{{lang_default.aside_href01}}" title="{{lang_default.aside_title01}}">{{lang_default.aside_title01}}</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="{{lang_default.aside_href02}}" title="{{lang_default.aside_title02}}">{{lang_default.aside_title02}}</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="{{lang_default.aside_href03}}" title="{{lang_default.aside_title03}}">{{lang_default.aside_title03}}</a>
            </li>
            <li class="aside-nav-page-item">
                <a class="aside-nav-page-item-link" href="{{lang_default.aside_href04}}" title="{{lang_default.aside_title04}}">{{lang_default.aside_title04}}</a>
            </li>
        </ul>
    </nav>
</aside>